# Merge All DataFrames

In [1]:
import pandas as pd
import numpy as np

In [2]:
dir = '../data/'
prefix = 'FONNESBECK_'
suffix = '_20151202.csv'

In [3]:
adt_cms_final = pd.read_pickle(dir + './adt_cms_final.pkl')
adt_cms_final.ruid = adt_cms_final.ruid.astype('int64')
adt_cms_final.head()

,ruid,visit_id,admit_date,discharge_date,hospital_day,stay_length,n_transfers,readmit_time,readmit_30d
0,50135262,0,2007-02-08,2007-02-12,2007-02-08,4 days,2,172 days,0
1,50135262,0,2007-02-08,2007-02-12,2007-02-09,4 days,2,172 days,0
2,50135262,0,2007-02-08,2007-02-12,2007-02-10,4 days,2,172 days,0
3,50135262,0,2007-02-08,2007-02-12,2007-02-11,4 days,2,172 days,0
4,50135262,0,2007-02-08,2007-02-12,2007-02-12,4 days,2,172 days,0

In [4]:
adt_cms_final.shape

(127636, 9)

In [5]:
len(np.unique(adt_cms_final.ruid))

5623

In [6]:
phenotype = pd.read_pickle(dir + './phenotype.pkl')
phenotype.head()

       ruid sex        dob        dod race
0  50135262   F 1949-09-20        NaT    W
1  50135361   M 1932-02-15 2012-09-09    W
2  50135369   M 1958-05-04 2012-01-23    W
3  50135375   M 1943-05-01 2011-08-18    B
4  50135425   F 1946-10-02        NaT    W

In [7]:
len(np.unique(phenotype.ruid))

8000

In [8]:
merged = adt_cms_final.merge(phenotype, how='left', on='ruid')
assert(len(np.unique(merged.ruid)) == len(np.unique(adt_cms_final.ruid)))
merged.shape

(127636, 13)

In [9]:
cpt_wide = pd.read_pickle(dir + './cpt_wide.pkl')
cpt_wide.rename(columns={'event_date': 'hospital_day'}, inplace=True)
cpt_wide.head()

code_cat,ruid,hospital_day,cpt_anesthesia,cpt_eval_manage,cpt_expired,cpt_medicine,cpt_modifier,cpt_path_lab,cpt_radiology,cpt_surgery,cpt_unknown
0,50135262,2005-01-09,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,50135262,2007-02-08,0.0,1.0,2.0,4.0,2.0,10.0,4.0,0.0,0.0
2,50135262,2007-02-09,0.0,2.0,1.0,0.0,3.0,9.0,5.0,2.0,0.0
3,50135262,2007-02-10,0.0,1.0,0.0,7.0,2.0,2.0,0.0,0.0,0.0
4,50135262,2007-02-11,0.0,1.0,0.0,2.0,1.0,2.0,0.0,0.0,0.0

In [10]:
merged = merged.merge(cpt_wide, how='left', on=['ruid', 'hospital_day'])
assert(len(np.unique(merged.ruid)) == len(np.unique(adt_cms_final.ruid)))
merged.shape

(127636, 22)

In [11]:
icd_wide = pd.read_pickle(dir + './icd_wide.pkl')
icd_wide.rename(columns={'event_date': 'hospital_day'}, inplace=True)
icd_wide.head()

code_cat,ruid,hospital_day,icd_dx_blood,icd_dx_circulatory,icd_dx_congenital,icd_dx_digestive,icd_dx_endocrine,icd_dx_external,icd_dx_gu,icd_dx_infection,...,icd_dx_muscskel,icd_dx_neoplasm,icd_dx_nervous,icd_dx_obstetric,icd_dx_perinatal,icd_dx_respiratory,icd_dx_skin,icd_dx_symptoms,icd_proc,icd_visit
0,50135262,2005-01-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,50135262,2007-02-08,0.0,2.0,0.0,0.0,3.0,1.0,0.0,2.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,3.0,0.0,4.0
2,50135262,2007-02-09,0.0,2.0,0.0,0.0,1.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
3,50135262,2007-02-10,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,50135262,2007-02-11,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
merged = merged.merge(icd_wide, how='left', on=['ruid', 'hospital_day'])
assert(len(np.unique(merged.ruid)) == len(np.unique(adt_cms_final.ruid)))
merged.shape

(127636, 42)

In [13]:
med_classes_final_ruids = pd.read_pickle(dir + './med_classes_final_ruids.pkl')
med_classes_final_ruids.rename(columns={'entry_date': 'hospital_day'}, inplace=True)
med_classes_final_ruids.head()

,ruid,hospital_day,med_14-alpha Demethylase Inhibitors,med_5-alpha Reductase Inhibitors,"med_Abortifacient Agents, Nonsteroidal",med_Acetaldehyde Dehydrogenase Inhibitors,med_Acetylcholine Release Inhibitors,med_Acid Sensing Ion Channel Blockers,med_Adenosine A2 Receptor Agonists,med_Adenosine Deaminase Inhibitors,...,med_Uncoupling Agents,med_Uricosuric Agents,med_Urological Agents,med_Vasoconstrictor Agents,med_Vasodilator Agents,med_Viscosupplements,med_Vitamin B Complex,med_Vitamins,med_Voltage-Gated Sodium Channel Blockers,med_beta-Lactamase Inhibitors
0,50135262,2005-01-09,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,50135262,2007-01-15,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,50135262,2015-01-25,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,...,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,50135262,2007-02-08,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,...,NaN,0.0,3.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
4,50135262,2007-02-09,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,...,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
# select the top number of medications
counts = (med_classes_final_ruids
          .drop(columns=['ruid', 'hospital_day'])
          .fillna(0.0)
          .sum()
          .sort_values(ascending=False))

In [15]:
# keep top 10 medication class counts
keep_cols = counts[:10].index.values.tolist()
keep_cols.append('ruid')
keep_cols.append('hospital_day')
keep_cols

['med_Antihypertensive Agents',
 'med_Analgesics, Opioid',
 'med_Narcotics',
 'med_Antipyretics',
 'med_Anti-Bacterial Agents',
 'med_Anti-Inflammatory Agents, Non-Steroidal',
 'med_Analgesics, Non-Narcotic',
 'med_Antiemetics',
 'med_Diuretics',
 'med_Anti-Arrhythmia Agents',
 'ruid',
 'hospital_day']

In [16]:
top_med_classes = med_classes_final_ruids.filter(items=keep_cols)
top_med_classes.shape

(505474, 12)

In [17]:
merged = merged.merge(top_med_classes, 
                      how='left', on=['ruid', 'hospital_day'])
assert(len(np.unique(merged.ruid)) == len(np.unique(adt_cms_final.ruid)))
merged.shape

(127636, 52)

## Compress to Discharge Date Only

In [18]:
merged.head()

,ruid,visit_id,admit_date,discharge_date,hospital_day,stay_length,n_transfers,readmit_time,readmit_30d,sex,...,med_Antihypertensive Agents,"med_Analgesics, Opioid",med_Narcotics,med_Antipyretics,med_Anti-Bacterial Agents,"med_Anti-Inflammatory Agents, Non-Steroidal","med_Analgesics, Non-Narcotic",med_Antiemetics,med_Diuretics,med_Anti-Arrhythmia Agents
0,50135262,0,2007-02-08,2007-02-12,2007-02-08,4 days,2,172 days,0,F,...,5.0,4.0,4.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0
1,50135262,0,2007-02-08,2007-02-12,2007-02-09,4 days,2,172 days,0,F,...,2.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,1.0
2,50135262,0,2007-02-08,2007-02-12,2007-02-10,4 days,2,172 days,0,F,...,4.0,2.0,2.0,2.0,1.0,0.0,2.0,0.0,0.0,3.0
3,50135262,0,2007-02-08,2007-02-12,2007-02-11,4 days,2,172 days,0,F,...,3.0,2.0,2.0,2.0,0.0,0.0,2.0,0.0,0.0,2.0
4,50135262,0,2007-02-08,2007-02-12,2007-02-12,4 days,2,172 days,0,F,...,3.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0

In [19]:
merged.isnull().sum()

ruid                                               0
visit_id                                           0
admit_date                                         0
discharge_date                                     0
hospital_day                                       0
stay_length                                        0
n_transfers                                        0
readmit_time                                   32593
readmit_30d                                        0
sex                                                0
dob                                                0
dod                                            82795
race                                               0
cpt_anesthesia                                 13422
cpt_eval_manage                                13422
cpt_expired                                    13422
cpt_medicine                                   13422
cpt_modifier                                   13422
cpt_path_lab                                   13422
cpt_radiology                                  13422
cpt_surgery                                    13422
cpt_unknown                                    13422
icd_dx_blood                                   12493
icd_dx_circulatory                             12493
icd_dx_congenital                              12493
icd_dx_digestive                               12493
icd_dx_endocrine                               12493
icd_dx_external                                12493
icd_dx_gu                                      12493
icd_dx_infection                               12493
icd_dx_injury                                  12493
icd_dx_mental                                  12493
icd_dx_muscskel                                12493
icd_dx_neoplasm                                12493
icd_dx_nervous                                 12493
icd_dx_obstetric                               12493
icd_dx_perinatal                               12493
icd_dx_respiratory                             12493
icd_dx_skin                                    12493
icd_dx_symptoms                                12493
icd_proc                                       12493
icd_visit                                      12493
med_Antihypertensive Agents                    10139
med_Analgesics, Opioid                         10139
med_Narcotics                                  10139
med_Antipyretics                               10139
med_Anti-Bacterial Agents                      10139
med_Anti-Inflammatory Agents, Non-Steroidal    10139
med_Analgesics, Non-Narcotic                   10139
med_Antiemetics                                10139
med_Diuretics                                  10139
med_Anti-Arrhythmia Agents                     10139
dtype: int64

In [ ]:
merged2 = (merged.drop(columns=['hospital_day'])
                .fillna(value={'readmit_time': np.timedelta64(9999, 'D'), 
                              'sex': 'U',
                              'dob': np.datetime64('1800-01-01'),
                              'dod': np.datetime64('2100-01-01')})
                .groupby(['ruid', 'visit_id', 'admit_date', 'discharge_date', 'stay_length', 
                         'n_transfers', 'readmit_time', 
                         'readmit_30d', 'sex', 'dob', 'dod', 
                         'race'])
                .agg('sum')
                .reset_index()
          )
assert(len(np.unique(merged2.ruid)) == len(np.unique(adt_cms_final.ruid)))

In [ ]:
merged2.head()

In [ ]:
merged2.tail()

## Add Labs, BP, BMI, & eGFR

In [ ]:
labs_bp_bmi_egfr = (pd.read_csv(dir + './labs_bp_bmi_egfr_table_112418.csv')
                      .drop(columns='Unnamed: 0'))

labs_bp_bmi_egfr.head()

In [ ]:
labs_bp_bmi_egfr.shape

In [ ]:
len(np.unique(labs_bp_bmi_egfr.ruid))

In [ ]:
merged_all = merged2.merge(labs_bp_bmi_egfr, 
                           how='left', on=['ruid', 'visit_id'])
assert(len(np.unique(merged_all.ruid)) == len(np.unique(adt_cms_final.ruid)))

In [ ]:
merged_all.head()

In [ ]:
merged_all.tail()

In [ ]:
merged_all.to_csv(dir + './merged.csv', index=False)