In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('../data/merged.csv')

In [7]:
df.shape

(21123, 67)

In [8]:
len(np.unique(df.ruid))

5664

In [4]:
df[:20]

,Unnamed: 0,ruid,visit_id,admit_date,discharge_date,stay_length,n_transfers,readmit_time,readmit_30d,sex,...,gluc,k,na,pcv,plt-ct,systolic,diastolic,bmi,pregnancy_indicator,egfr
0,0,50135262,0,2007-02-08,2007-02-12,4 days 00:00:00.000000000,2,9999 days 00:00:00.000000000,0,F,...,138.0,4.40,136.0,32.0,334.0,140.0,58.0,44.710,0.0,123.677830
1,1,50135262,1,2007-08-03,2007-08-06,3 days 00:00:00.000000000,3,172 days 00:00:00.000000000,0,F,...,213.5,4.45,135.0,39.0,291.5,121.0,61.0,45.025,0.0,89.505000
2,2,50135262,2,2007-08-28,2007-08-29,1 days 00:00:00.000000000,1,22 days 00:00:00.000000000,1,F,...,266.0,3.90,139.0,38.0,308.0,131.0,60.0,46.230,0.0,107.450000
3,3,50135262,3,2008-02-24,2008-02-28,4 days 00:00:00.000000000,2,179 days 00:00:00.000000000,0,F,...,230.0,4.00,135.0,38.0,274.0,151.0,74.0,47.140,0.0,73.010770
4,4,50135262,4,2008-04-12,2008-04-13,1 days 00:00:00.000000000,1,44 days 00:00:00.000000000,0,F,...,162.0,4.10,139.0,36.0,330.0,134.0,66.0,47.360,0.0,84.358415
5,5,50135262,5,2010-10-28,2010-10-29,1 days 00:00:00.000000000,1,928 days 00:00:00.000000000,0,F,...,201.0,3.60,137.5,39.5,264.5,140.0,52.0,47.580,0.0,101.375050
6,6,50135262,6,2011-02-11,2011-02-23,12 days 00:00:00.000000000,4,105 days 00:00:00.000000000,0,F,...,123.0,3.90,139.0,41.0,277.0,144.0,63.0,40.200,0.0,93.491555
7,7,50135262,7,2012-05-23,2012-05-27,4 days 00:00:00.000000000,1,455 days 00:00:00.000000000,0,F,...,243.0,4.00,138.0,39.0,347.0,143.0,63.0,44.250,0.0,59.711960
8,8,50135262,8,2012-09-15,2012-09-22,7 days 00:00:00.000000000,1,111 days 00:00:00.000000000,0,F,...,233.0,3.65,138.5,25.0,245.0,149.0,53.0,42.770,0.0,76.279970
9,9,50135262,9,2014-11-15,2014-11-18,3 days 00:00:00.000000000,2,784 days 00:00:00.000000000,0,F,...,175.0,4.30,135.0,41.0,234.0,131.0,59.0,48.340,0.0,86.953890
10,10,50135361,0,2007-12-16,2007-12-28,12 days 00:00:00.000000000,3,9999 days 00:00:00.000000000,0,M,...,139.0,3.50,140.0,30.5,139.0,110.5,55.0,32.550,0.0,27.271140
11,11,50135361,1,2008-08-02,2008-08-05,3 days 00:00:00.000000000,1,218 days 00:00:00.000000000,0,M,...,105.0,4.50,142.0,32.5,225.0,135.0,73.0,32.410,0.0,46.567790
12,12,50135361,2,2008-10-20,2008-10-22,2 days 00:00:00.000000000,1,76 days 00:00:00.000000000,0,M,...,158.0,4.30,142.0,36.0,107.5,99.5,56.5,33.780,0.0,43.939150
13,13,50135361,3,2008-10-30,2008-11-01,2 days 00:00:00.000000000,1,8 days 00:00:00.000000000,1,M,...,243.0,4.60,141.0,36.0,157.0,100.0,59.0,31.530,0.0,39.439025
14,14,50135361,4,2008-11-04,2008-11-08,4 days 00:00:00.000000000,2,3 days 00:00:00.000000000,1,M,...,130.0,4.30,142.0,38.0,153.0,104.0,54.0,31.530,0.0,44.250725
15,15,50135361,5,2008-12-02,2008-12-05,3 days 00:00:00.000000000,3,24 days 00:00:00.000000000,1,M,...,134.0,3.90,142.0,37.5,189.5,135.0,72.0,30.190,0.0,55.812215
16,16,50135361,6,2009-03-03,2009-03-09,6 days 00:00:00.000000000,3,88 days 00:00:00.000000000,0,M,...,208.0,5.10,139.5,45.0,158.0,128.0,70.0,31.550,0.0,47.143460
17,17,50135361,7,2009-03-29,2009-04-04,6 days 00:00:00.000000000,3,20 days 00:00:00.000000000,1,M,...,154.0,4.60,141.0,38.0,109.0,115.0,74.0,31.670,0.0,54.469090
18,18,50135361,8,2011-10-10,2011-10-14,4 days 00:00:00.000000000,1,919 days 00:00:00.000000000,0,M,...,87.0,4.50,143.0,38.0,134.0,106.0,58.0,32.780,0.0,51.959625
19,19,50135361,9,2011-10-20,2011-10-28,8 days 00:00:00.000000000,1,6 days 00:00:00.000000000,1,M,...,88.0,4.60,145.0,32.0,129.0,108.0,56.0,29.410,0.0,46.550000