In [45]:
%ls data

FONNESBECK_ADT_20151202.csv        FONNESBECK_ICD9_20151202.csv*
FONNESBECK_BMI_20151202.csv*       FONNESBECK_LAB_20151202.csv*
FONNESBECK_BP_20151202.csv*        FONNESBECK_MED_20151202.csv*
FONNESBECK_CPT_20151202.csv*       FONNESBECK_phenotype_20151202.csv*
FONNESBECK_EGFR_20151202.csv*      Fonnesbeck_DD_2014102014.xlsx

In [81]:
import pandas as pd
import datetime

adt = pd.read_table('data/FONNESBECK_ADT_20151202.csv', encoding='latin1', sep = ',', infer_datetime_format=True, parse_dates=['Admission_date','Event_Date','DISCHARGE_DATE'])
pheno = pd.read_table('data/FONNESBECK_phenotype_20151202.csv', encoding='latin1', sep = ',', infer_datetime_format=True, parse_dates=['DOB','DOD'])
cpt = pd.read_table('data/FONNESBECK_CPT_20151202.csv', encoding='latin1', sep = ',', infer_datetime_format=True, parse_dates=['Event_date'])

In [139]:
svc = pd.read_excel('data/FONNESBECK_DD_2014102014.xlsx',sheet_name='Service code', sep = ',')
svc.rename(columns = {"Service Code":"SVC", "Service Code Desc":"Desc"}, inplace = True)

In [182]:
adt.Event = pd.Categorical(adt.Event,categories = ['Admit','Transfer','Discharge'])
adt = adt.sort_values(by = ['RUID','Admission_date','Event','Event_Date']).reset_index(drop = True)

In [183]:
adt.head()

,RUID,Event,Admission_date,Event_Date,SRV_CODE,CHIEF_COMPLAINT,DISCHARGE_DATE
0,50135262,Admit,2007-02-08,2007-02-08,ORT,R FEMUR FX,2007-02-12
1,50135262,Transfer,2007-02-08,2007-02-08,ORT,R FEMUR FX,2007-02-12
2,50135262,Transfer,2007-02-08,2007-02-09,ORT,R FEMUR FX,2007-02-12
3,50135262,Discharge,2007-02-08,2007-02-12,ORT,R FEMUR FX,2007-02-12
4,50135262,Admit,2007-08-03,2007-08-03,CAR,CP,2007-08-06

In [82]:
adt.isnull().sum()/adt.shape[0]

RUID               0.000000
Event              0.000000
Admission_date     0.012845
Event_Date         0.000000
SRV_CODE           0.000000
CHIEF_COMPLAINT    0.007628
DISCHARGE_DATE     0.016934
dtype: float64

In [97]:
adt.shape

(121530, 7)

In [102]:
adt.describe(include='all')

,RUID,Event,Admission_date,Event_Date,SRV_CODE,CHIEF_COMPLAINT,DISCHARGE_DATE
count,1.215300e+05,121530,119969,121530,121530,120603,119472
unique,NaN,3,4192,4279,73,13118,4195
top,NaN,Transfer,2013-03-14 00:00:00,2013-12-28 00:00:00,GMD,296.90,2010-12-23 00:00:00
freq,NaN,61636,111,69,13062,2394,111
first,NaN,NaN,2004-01-28 00:00:00,2004-01-28 00:00:00,NaN,NaN,2004-02-11 00:00:00
last,NaN,NaN,2015-11-26 00:00:00,2015-11-26 00:00:00,NaN,NaN,2015-11-23 00:00:00
mean,5.366861e+07,NaN,NaN,NaN,NaN,NaN,NaN
std,4.628206e+05,NaN,NaN,NaN,NaN,NaN,NaN
min,5.013526e+07,NaN,NaN,NaN,NaN,NaN,NaN
25%,5.372980e+07,NaN,NaN,NaN,NaN,NaN,NaN
50%,5.373203e+07,NaN,NaN,NaN,NaN,NaN,NaN
75%,5.373430e+07,NaN,NaN,NaN,NaN,NaN,NaN
max,5.373642e+07,NaN,NaN,NaN,NaN,NaN,NaN

In [184]:
adt[adt.Admission_date.isnull() & adt.DISCHARGE_DATE.isnull()]

,RUID,Event,Admission_date,Event_Date,SRV_CODE,CHIEF_COMPLAINT,DISCHARGE_DATE
93,50135361,Transfer,NaT,2009-05-24,GMD,DEHYDRATION W/WEAKNESS,NaT
94,50135361,Transfer,NaT,2009-07-11,GMD,PNEUMONIA,NaT
95,50135361,Transfer,NaT,2010-04-29,GMD,PYELONEPHRITIS,NaT
96,50135361,Transfer,NaT,2010-10-03,GER,FALL,NaT
97,50135361,Transfer,NaT,2011-10-17,CAR,CHEST PAIN; ELEVATED TROPONIN,NaT
151,50135369,Transfer,NaT,2009-07-07,GMD,CHEST AND ABDOMINAL PAIN,NaT
152,50135369,Transfer,NaT,2010-03-30,PUL,COPD ACUTE HIP PAIN,NaT
153,50135369,Transfer,NaT,2010-12-21,CAR,UNSTABLE ANGINA,NaT
410,50135437,Transfer,NaT,2010-06-11,GMD,WOUND INFECTION,NaT
466,50135624,Transfer,NaT,2008-02-08,CAR,HEART TRANSPLANT,NaT
467,50135624,Transfer,NaT,2011-12-09,GER,CELLULITIS,NaT
486,50135776,Transfer,NaT,2013-09-01,INF,PANCREATITIS; HIV,NaT
541,50135821,Transfer,NaT,2009-04-27,NEU,CRANIAL NERVE III PALSY,NaT
542,50135821,Transfer,NaT,2012-06-03,GMD,ORTHOPNEA,NaT
543,50135821,Transfer,NaT,2013-08-11,GER,CHEST PAIN,NaT
544,50135821,Transfer,NaT,2013-08-11,GMD,CHEST PAIN,NaT
576,50135887,Transfer,NaT,2012-09-24,GER,DIZZY,NaT
637,50135968,Transfer,NaT,2011-11-01,GER,AKI,NaT
638,50135968,Transfer,NaT,2012-05-30,GER,RULE OUT ANGINA,NaT
728,50136045,Transfer,NaT,2009-06-08,ORT,SPINAL STENOSIS OF LUMBAR REGION 724.02,NaT
729,50136045,Transfer,NaT,2011-11-05,GMD,HYPOGLYCEMIA. DIARRHEA,NaT
730,50136045,Transfer,NaT,2011-11-07,GER,HYPOGLYCEMIA. DIARRHEA,NaT
1029,50136998,Transfer,NaT,2006-01-08,NES,INTRACRANIAL STENOSIS; TIA'S,NaT
1331,50137963,Transfer,NaT,2013-01-06,NES,331.3 COMMUNICATING HYDROCEPHALUS,NaT
1466,50139109,Transfer,NaT,2007-09-12,GMD,ALTERED MENTAL STATUS,NaT
1467,50139109,Transfer,NaT,2009-06-18,GAS,AMS,NaT
1485,50139411,Transfer,NaT,2008-11-17,PED,CONSTIPATION,NaT
1524,50139482,Transfer,NaT,2006-12-14,BRN,BURNS TO FACE AND ARMS,NaT
1632,50139842,Transfer,NaT,2012-06-12,NEP,LOW POTASSIUM; BARTTER'S SYNDROME,NaT
1683,50140698,Transfer,NaT,2007-07-27,ORT,AMPUTATION,NaT
...,...,...,...,...,...,...,...
119610,53736293,Transfer,NaT,2008-02-08,CAR,CHEST PAIN; CHF,NaT
119803,53736307,Transfer,NaT,2007-09-11,NEP,DIARRHEA; VOL DEPL,NaT
119880,53736310,Transfer,NaT,2009-10-10,OTO,389.11 SENSORY HEARING LOSS,NaT
120019,53736313,Transfer,NaT,2008-07-15,TRA,ASSAULT,NaT
120020,53736313,Transfer,NaT,2012-06-14,NEU,EPILEPSY,NaT
120021,53736313,Transfer,NaT,2012-07-27,EMR,ADM,NaT
120161,53736317,Transfer,NaT,2007-02-11,NES,ET 333.1STAGE II,NaT
120162,53736317,Transfer,NaT,2007-10-14,NES,INFECTION DUE TO IMPLANT,NaT
120180,53736319,Transfer,NaT,2011-03-15,NEU,LEFT FACIAL DROOP; LEFT SIDED WEAKNESS,NaT
120189,53736320,Transfer,NaT,2010-08-31,PLS,HAND CA; ACUTE HAND INFECTION/CELLULITIS,NaT
120220,53736325,Transfer,NaT,2008-11-24,GNS,BOWEL OBSTRUCTION,NaT
120297,53736327,Transfer,NaT,2011-02-26,NEP,HEADACHE; HYPERKALEMIA,NaT
120325,53736331,Transfer,NaT,2012-04-21,OBS,28 WKS; NAUSEA/VOMITING,NaT
120395,53736335,Transfer,NaT,2007-02-04,NEU,CVA,NaT
120413,53736336,Transfer,NaT,2010-08-10,GNS,MALIGNANT NEO OF LIVER PRIMARY,NaT
120586,53736345,Transfer,NaT,2011-04-20,GMD,ATRIAL FIBRILLATION WITH RAPID RESPONSE; WEAKNESS,NaT
120629,53736349,Transfer,NaT,2013-08-22,GMD,ABDOMINAL PAIN; GASTROENTERITIS; R/O NSTEMI?,NaT
120684,53736358,Transfer,NaT,2008-04-16,OBS,26WKS/HIGH BP,NaT
120852,53736368,Transfer,NaT,2011-06-04,EMR,HYPOXIA,NaT
120853,53736368,Transfer,NaT,2011-06-04,PCA,HYPOXIA,NaT
120884,53736370,Transfer,NaT,2010-04-27,CAR,POSITIVE-ABNORMAN NUCLEAR STRESS TEST,NaT
121014,53736380,Transfer,NaT,2013-05-06,HEM,V59.02; ARRHYTHMIA,NaT
121167,53736389,Transfer,NaT,2009-03-01,BRN,BURN,NaT
121246,53736394,Transfer,NaT,2007-08-11,GMD,SYMPTOMATIC ANEMIA,NaT
121247,53736394,Transfer,NaT,2007-08-12,GER,SYMPTOMATIC ANEMIA,NaT
121248,53736394,Transfer,NaT,2008-11-04,HEM,ANEMIA,NaT
121323,53736408,Transfer,NaT,2009-12-09,PSY,296.00,NaT
121356,53736410,Transfer,NaT,2009-08-26,GMD,HYPOTENSION,NaT
121357,53736410,Transfer,NaT,2011-02-12,GMD,AMS,NaT
121358,53736410,Transfer,NaT,2011-02-12,GER,AMS,NaT

In [83]:
adt[adt.Admission_date.isnull() & ].Event.value_counts()

Transfer     1559
Discharge       2
Name: Event, dtype: int64

In [84]:
adt[adt.DISCHARGE_DATE.isnull()].Event.value_counts()

Transfer    1860
Admit        198
Name: Event, dtype: int64

In [85]:
adt[(adt.Admission_date.isnull()) & (adt.Event == 'Discharge')]

,RUID,Event,Admission_date,Event_Date,SRV_CODE,CHIEF_COMPLAINT,DISCHARGE_DATE
76409,53733158,Discharge,NaT,2007-08-06,TRA,STAT,2007-08-06
76575,53733172,Discharge,NaT,2013-02-17,PED,SEPSIS,2013-02-17

In [86]:
adt[76400:76420]

,RUID,Event,Admission_date,Event_Date,SRV_CODE,CHIEF_COMPLAINT,DISCHARGE_DATE
76400,53733157,Transfer,2009-10-25,2009-10-25,URO,UNSPEC DISORDER OF KIDNEY AND URETER,2009-10-29
76401,53733157,Discharge,2009-10-25,2009-10-29,URO,UNSPEC DISORDER OF KIDNEY AND URETER,2009-10-29
76402,53733157,Transfer,2011-11-30,2011-11-30,ONC,HYPOXIA;RENAL FAIL CANCER;DYSPNEA,2011-12-02
76403,53733157,Admit,2011-11-30,2011-11-30,ONC,HYPOXIA;RENAL FAIL CANCER;DYSPNEA,2011-12-02
76404,53733157,Discharge,2011-11-30,2011-12-02,ONC,HYPOXIA;RENAL FAIL CANCER;DYSPNEA,2011-12-02
76405,53733157,Admit,2009-12-19,2009-12-19,ONC,RENAL CELL CARINOMA,2009-12-25
76406,53733157,Transfer,2009-12-19,2009-12-19,ONC,RENAL CELL CARINOMA,2009-12-25
76407,53733157,Discharge,2009-12-19,2009-12-25,ONC,RENAL CELL CARINOMA,2009-12-25
76408,53733158,Transfer,NaT,2007-08-05,TRA,STAT,2007-08-06
76409,53733158,Discharge,NaT,2007-08-06,TRA,STAT,2007-08-06
76410,53733159,Admit,2015-01-13,2015-01-13,PON,SICKLE CELL PAIN,2015-01-18
76411,53733159,Discharge,2015-01-13,2015-01-18,PON,SICKLE CELL PAIN,2015-01-18
76412,53733159,Transfer,2015-01-13,2015-01-18,PON,SICKLE CELL PAIN,2015-01-18
76413,53733159,Admit,2015-02-04,2015-02-04,PED,PAIN CRISIS,2015-02-09
76414,53733159,Transfer,2015-02-04,2015-02-04,PON,PAIN CRISIS,2015-02-09
76415,53733159,Transfer,2015-02-04,2015-02-09,PON,PAIN CRISIS,2015-02-09
76416,53733159,Discharge,2015-02-04,2015-02-09,PON,PAIN CRISIS,2015-02-09
76417,53733159,Transfer,2007-03-08,2007-03-08,PON,PNEUMONIA,2007-03-10
76418,53733159,Admit,2007-03-08,2007-03-08,PON,PNEUMONIA,2007-03-10
76419,53733159,Discharge,2007-03-08,2007-03-10,PON,PNEUMONIA,2007-03-10

In [87]:
adt[(adt.DISCHARGE_DATE.isnull()) & (adt.Event == 'Admit')]

,RUID,Event,Admission_date,Event_Date,SRV_CODE,CHIEF_COMPLAINT,DISCHARGE_DATE
1758,50141473,Admit,2015-06-26,2015-06-26,GMD,DETOX,NaT
1915,50143540,Admit,2011-01-06,2011-01-06,PED,RSV BRONCHIOLITIS; AV CANAL,NaT
2001,51319626,Admit,2013-11-19,2013-11-19,ORT,716.17/996.78,NaT
2258,52765702,Admit,2014-12-05,2014-12-05,GMD,BACK PAIN,NaT
2524,53719335,Admit,2014-09-15,2014-09-15,EMR,INTRACTABLE VOMITING AND DEHYDRATION,NaT
2841,53725969,Admit,2011-09-27,2011-09-27,EMR,SOB,NaT
2960,53727824,Admit,2013-11-13,2013-11-13,VAS,453.40 ACUTE VENOUS EMBOLISM AND THROMBOSIS,NaT
3637,53727886,Admit,2014-12-10,2014-12-10,OTO,POST OP T AND A BLEED,NaT
4023,53727917,Admit,2012-06-17,2012-06-17,ORT,813.23 RADIUS WITH ULNA; FRACTURE OF AND ULNA ...,NaT
5532,53728030,Admit,2015-08-12,2015-08-12,EMR,AIDS ENTEROPATHY; FAILURE TO THRIVE; DEHYDRATION,NaT
6714,53728118,Admit,2015-02-03,2015-02-03,CAR,HYPERTENSIVE EMERGENCY; CHEST PAIN,NaT
7537,53728161,Admit,2014-10-29,2014-10-29,CAR,VOLUME OVERLOAD HEART FAILURE,NaT
7711,53728183,Admit,2011-04-03,2011-04-03,CAR,CHEST PAIN; S/P CABG,NaT
11125,53728399,Admit,2013-05-03,2013-05-03,CAR,428.0,NaT
11647,53728436,Admit,2015-05-07,2015-05-07,CAR,CP,NaT
11785,53728446,Admit,2015-04-24,2015-04-24,PUL,PNEUMONIA,NaT
12047,53728463,Admit,2013-12-27,2013-12-27,PUL,COUGH,NaT
12616,53728502,Admit,2009-09-01,2009-09-01,ORT,ANKYLOSIS OF ANKLE AND FOOT JOINT,NaT
14441,53728607,Admit,2014-12-13,2014-12-13,GMD,HCAP,NaT
14964,53728652,Admit,2014-01-26,2014-01-26,PUL,CHEST PAIN,NaT
14977,53728652,Admit,2014-02-17,2014-02-17,PUL,COPD EXACERBATION,NaT
15136,53728653,Admit,2014-12-19,2014-12-19,GMD,FALL; SUBDURAL HEMATOMA; DVT; SPINE FRACTURES,NaT
15513,53728680,Admit,2013-11-21,2013-11-21,GMD,DELIRIUM,NaT
15779,53728709,Admit,2015-10-09,2015-10-09,PUL,HYPOTENSION,NaT
15939,53728731,Admit,2014-10-08,2014-10-08,CAR,PACEMAKER MALFUNCTION,NaT
17409,53728835,Admit,2015-02-19,2015-02-19,PED,VOMITING ; SYNCOPE HEPATITIS/EXPECT,NaT
18053,53728894,Admit,2015-02-01,2015-02-01,GMD,INFECTION,NaT
18408,53728907,Admit,2014-09-26,2014-09-26,CAR,CHEST PAIN,NaT
18734,53728935,Admit,2014-12-20,2014-12-20,GMD,UROSEPSIS,NaT
19297,53728965,Admit,2014-06-01,2014-06-01,OBS,CIRCLAGE,NaT
...,...,...,...,...,...,...,...
103689,53735169,Admit,2014-06-06,2014-06-06,NEP,SHOULDER PAIN,NaT
105050,53735240,Admit,2015-07-26,2015-07-26,CAR,CHEST PAIN,NaT
105427,53735270,Admit,2013-06-23,2013-06-23,CAR,CHEST PAIN,NaT
105448,53735270,Admit,2013-12-22,2013-12-22,CAR,425.4 CARDIOMYOPATHY,NaT
105571,53735287,Admit,2014-02-13,2014-02-13,GMD,COUGHING UP BLOOD,NaT
105592,53735287,Admit,2013-10-18,2013-10-18,ORT,BACK PAIN,NaT
105605,53735287,Admit,2014-12-18,2014-12-18,GMD,EVAL,NaT
105770,53735303,Admit,2015-04-01,2015-04-01,PGS,CHOLECYSTITIS,NaT
108560,53735533,Admit,2015-01-27,2015-01-27,OES,POST OP COMP,NaT
109031,53735551,Admit,2015-03-15,2015-03-15,GMD,COPD,NaT
109963,53735626,Admit,2014-12-02,2014-12-02,CSX,746.4 OTHER CONGENITAL ANOMALIES OF HEART CONG...,NaT
111544,53735772,Admit,2014-09-13,2014-09-13,GMD,N/V,NaT
112161,53735833,Admit,2014-07-17,2014-07-17,PED,HEADACHE,NaT
112230,53735842,Admit,2015-04-12,2015-04-12,CAR,414.01,NaT
113044,53735898,Admit,2014-06-20,2014-06-20,NEU,STROKE,NaT
113643,53735941,Admit,2013-12-23,2013-12-23,INF,OSTEOMYELITIS,NaT
113674,53735943,Admit,2015-03-08,2015-03-08,CSX,TACHYCARDIA,NaT
114057,53735975,Admit,2014-08-15,2014-08-15,CAR,427.31 A FIB,NaT
115148,53736031,Admit,2012-10-05,2012-10-05,CSX,HEART FAILURE CONGESTIVE; UNSPECI.,NaT
115541,53736048,Admit,2015-11-02,2015-11-02,GMD,ABD PAIN,NaT
115642,53736054,Admit,2014-02-04,2014-02-04,CAR,996.83 HEART; COMPLICATIONS PECULIAR TO CERTAIN,NaT
115659,53736054,Admit,2014-04-28,2014-04-28,CAR,HEART TRANSPLANT N/V,NaT
115671,53736054,Admit,2013-08-06,2013-08-06,CAR,FEVER IN HEART TRANSPLANT PATIENT,NaT
116751,53736117,Admit,2008-10-07,2008-10-07,CAR,VENTRICULAR FIBRILLATION 427.41,NaT
118326,53736229,Admit,2014-10-09,2014-10-09,CAR,ISCHEMIC HEART DISEASE-414.9,NaT
118335,53736230,Admit,2009-06-11,2009-06-11,PLS,DECUBITUS ULCER,NaT
119015,53736277,Admit,2008-06-25,2008-06-25,PED,DEHYDRATION,NaT
119813,53736308,Admit,2015-05-15,2015-05-15,GMD,ABD PAIN,NaT
121430,53736417,Admit,2014-03-02,2014-03-02,HEP,ASCITES,NaT
121435,53736417,Admit,2014-04-14,2014-04-14,GAS,SIRS; ABD PAIN; N/V/D,NaT

In [ ]:
# left join the phenotype to get DOB, filter out < 18 | PEDS SVC to create dataset w/o peds bc re-admission standards don't include peds

In [ ]:
# filter peds first, then make event categorical & sort everything so we have admit-transfer(s)-discharge
# you can simply grab all admit events for an individual once admit/discharge dates are squared away,
# and calculate days to next admit by subtracting discharge date at t-1 from admit date at t

In [197]:
adt_age = pd.merge(adt,pheno)
# admits = adt_age.Admission_date.dt
events = adt_age.Event_Date.dt
birthdays = adt_age.DOB.dt

adt_age['age'] = events.year - birthdays.year + ((events.month < birthdays.month) & (events.day < birthdays.day))
# above from https://stackoverflow.com/questions/2217488/age-from-birthdate-in-python/9754466#9754466

In [228]:
# getting rid of peds & psychiatric patients...
# we're removing these because they aren't part of the CMS criteria so 30-day readmits for them don't lose the hospital money
ped_svc = '|'.join(svc.SVC[svc.Desc.str.contains("CHILD|PED")])
psych_svc = '|'.join(svc.SVC[svc.Desc.str.contains("PSYCH")])

ped_filter = ((adt_age.age < 18) | (adt_age.SRV_CODE.str.contains(ped_svc)) & ~((adt_age.age > 35) & (adt_age.SRV_CODE.str.contains(ped_svc))))
# the ~ condition here contains a handful of rows that I think are coding errors -- very old patients admitted to pediatric services
# the cutoff is 35 because some pediatric cancer/cardiac/etc patients will continue with pediatric services for their original condition into adulthood

psych_filter = (adt_age.SRV_CODE.str.contains(psych_svc))

In [192]:
adt_age.head()

,RUID,Event,Admission_date,Event_Date,SRV_CODE,CHIEF_COMPLAINT,DISCHARGE_DATE,Sex,DOB,DOD,Race,age
0,50135262,Admit,2007-02-08,2007-02-08,ORT,R FEMUR FX,2007-02-12,F,1949-09-20,NaT,W,59.0
1,50135262,Transfer,2007-02-08,2007-02-08,ORT,R FEMUR FX,2007-02-12,F,1949-09-20,NaT,W,59.0
2,50135262,Transfer,2007-02-08,2007-02-09,ORT,R FEMUR FX,2007-02-12,F,1949-09-20,NaT,W,59.0
3,50135262,Discharge,2007-02-08,2007-02-12,ORT,R FEMUR FX,2007-02-12,F,1949-09-20,NaT,W,59.0
4,50135262,Admit,2007-08-03,2007-08-03,CAR,CP,2007-08-06,F,1949-09-20,NaT,W,59.0

In [187]:
adt_age.tail()

,RUID,Event,Admission_date,Event_Date,SRV_CODE,CHIEF_COMPLAINT,DISCHARGE_DATE,Sex,DOB,DOD,Race,age
121525,53736422,Transfer,2006-04-21,2006-04-30,TRA,STAT,2006-05-05,M,1948-05-28,NaT,H,59.0
121526,53736422,Transfer,2006-04-21,2006-05-02,TRA,STAT,2006-05-05,M,1948-05-28,NaT,H,59.0
121527,53736422,Discharge,2006-04-21,2006-05-05,TRA,STAT,2006-05-05,M,1948-05-28,NaT,H,59.0
121528,53736423,Admit,2006-04-23,2006-04-23,NUR,NaN,2006-04-25,M,2006-04-23,NaT,A,0.0
121529,53736423,Discharge,2006-04-23,2006-04-25,NUR,NaN,2006-04-25,M,2006-04-23,NaT,A,0.0

In [230]:
adt_cms = adt_age[~(ped_filter | psych_filter)]

In [153]:
cpt.head()

       RUID CPT_Code Event_date
0  50135262    00001 2004-11-28
1  50135262    00005 2012-05-03
2  50135262    00025 2007-02-08
3  50135262    00025 2004-11-16
4  50135262    00030 2007-02-08

In [165]:
hosp_ed_cpts = ["99217", "99218", "99219", "99220", "99221", "99222", "99223", "99224", "99225", "99226", "99231", "99232", "99233", "99234", "99235", "99236", "99238", "99239", "99251", "99252", "99253", "99254", "99255", "99289","99290", "99291", "99292", "99293", "99294", "99295","99296", "99297", "99356", "99357", "99358", "99359", "99433", "99435", "99460", "99461", "99462", "99463", "99466", "99467", "99468", "99469","99471", "99472", "99475", "99476", "99477", "99478", "99479", "99480", "99485", "99486", "99281", "99282", "99283", "99284", "99285"]
cpt_pat = "|".join(hosp_ed_cpts)

In [171]:
cpt_hosp = cpt[cpt.CPT_Code.str.match(cpt_pat)].sort_values(by=['RUID','Event_date','CPT_Code'])

In [215]:
adt_age[adt_age.RUID == 53728183]

,RUID,Event,Admission_date,Event_Date,SRV_CODE,CHIEF_COMPLAINT,DISCHARGE_DATE,Sex,DOB,DOD,Race,age
7684,53728183,Admit,2010-02-26,2010-02-26,PSY,296.24,2010-02-27,M,1959-06-13,NaT,B,51.0
7685,53728183,Transfer,2010-02-26,2010-02-26,PSY,296.24,2010-02-27,M,1959-06-13,NaT,B,51.0
7686,53728183,Transfer,2010-02-26,2010-02-27,PSY,296.24,2010-02-27,M,1959-06-13,NaT,B,51.0
7687,53728183,Discharge,2010-02-26,2010-02-27,PSY,296.24,2010-02-27,M,1959-06-13,NaT,B,51.0
7688,53728183,Admit,2010-02-27,2010-02-27,CAR,NSTEMI,2010-03-01,M,1959-06-13,NaT,B,51.0
7689,53728183,Transfer,2010-02-27,2010-02-27,PSY,NSTEMI,2010-03-01,M,1959-06-13,NaT,B,51.0
7690,53728183,Transfer,2010-02-27,2010-02-28,PSY,NSTEMI,2010-03-01,M,1959-06-13,NaT,B,51.0
7691,53728183,Transfer,2010-02-27,2010-03-01,CAR,NSTEMI,2010-03-01,M,1959-06-13,NaT,B,52.0
7692,53728183,Discharge,2010-02-27,2010-03-01,CAR,NSTEMI,2010-03-01,M,1959-06-13,NaT,B,52.0
7693,53728183,Admit,2010-03-01,2010-03-01,PSY,296.24,2010-03-04,M,1959-06-13,NaT,B,52.0
7694,53728183,Transfer,2010-03-01,2010-03-01,PSY,296.24,2010-03-04,M,1959-06-13,NaT,B,52.0
7695,53728183,Transfer,2010-03-01,2010-03-03,PSY,296.24,2010-03-04,M,1959-06-13,NaT,B,52.0
7696,53728183,Discharge,2010-03-01,2010-03-04,PSY,296.24,2010-03-04,M,1959-06-13,NaT,B,52.0
7697,53728183,Admit,2010-04-18,2010-04-18,PSY,311,2010-04-18,M,1959-06-13,NaT,B,51.0
7698,53728183,Transfer,2010-04-18,2010-04-18,PSY,311,2010-04-18,M,1959-06-13,NaT,B,51.0
7699,53728183,Discharge,2010-04-18,2010-04-18,PSY,311,2010-04-18,M,1959-06-13,NaT,B,51.0
7700,53728183,Admit,2010-04-21,2010-04-21,PSY,296390,2010-04-26,M,1959-06-13,NaT,B,51.0
7701,53728183,Transfer,2010-04-21,2010-04-21,PSY,296390,2010-04-26,M,1959-06-13,NaT,B,51.0
7702,53728183,Transfer,2010-04-21,2010-04-26,PSY,296390,2010-04-26,M,1959-06-13,NaT,B,51.0
7703,53728183,Discharge,2010-04-21,2010-04-26,PSY,296390,2010-04-26,M,1959-06-13,NaT,B,51.0
7704,53728183,Admit,2010-04-27,2010-04-27,PSY,296.30,2010-04-28,M,1959-06-13,NaT,B,51.0
7705,53728183,Transfer,2010-04-27,2010-04-27,PSY,296.30,2010-04-28,M,1959-06-13,NaT,B,51.0
7706,53728183,Transfer,2010-04-27,2010-04-28,PSY,296.30,2010-04-28,M,1959-06-13,NaT,B,51.0
7707,53728183,Discharge,2010-04-27,2010-04-28,PSY,296.30,2010-04-28,M,1959-06-13,NaT,B,51.0
7708,53728183,Admit,2010-04-28,2010-04-28,PSY,296.90,2010-04-29,M,1959-06-13,NaT,B,51.0
7709,53728183,Transfer,2010-04-28,2010-04-28,PSY,296.90,2010-04-29,M,1959-06-13,NaT,B,51.0
7710,53728183,Transfer,2010-04-28,2010-04-29,PSY,296.90,2010-04-29,M,1959-06-13,NaT,B,51.0
7711,53728183,Discharge,2010-04-28,2010-04-29,PSY,296.90,2010-04-29,M,1959-06-13,NaT,B,51.0
7712,53728183,Admit,2010-05-05,2010-05-05,PSY,296.90,2010-05-14,M,1959-06-13,NaT,B,52.0
7713,53728183,Transfer,2010-05-05,2010-05-05,PSY,296.90,2010-05-14,M,1959-06-13,NaT,B,52.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7776,53728183,Transfer,2013-09-30,2013-09-30,CAR,CP,2013-10-02,M,1959-06-13,NaT,B,54.0
7777,53728183,Transfer,2013-09-30,2013-10-02,CAR,CP,2013-10-02,M,1959-06-13,NaT,B,54.0
7778,53728183,Discharge,2013-09-30,2013-10-02,CAR,CP,2013-10-02,M,1959-06-13,NaT,B,54.0
7779,53728183,Admit,2013-10-07,2013-10-07,CAR,CHEST PAIN,2013-10-08,M,1959-06-13,NaT,B,54.0
7780,53728183,Transfer,2013-10-07,2013-10-08,CAR,CHEST PAIN,2013-10-08,M,1959-06-13,NaT,B,54.0
7781,53728183,Discharge,2013-10-07,2013-10-08,CAR,CHEST PAIN,2013-10-08,M,1959-06-13,NaT,B,54.0
7782,53728183,Admit,2013-12-01,2013-12-01,CAR,SYNCOPE AND CHEST PAIN,2013-12-03,M,1959-06-13,NaT,B,54.0
7783,53728183,Transfer,2013-12-01,2013-12-01,CAR,SYNCOPE AND CHEST PAIN,2013-12-03,M,1959-06-13,NaT,B,54.0
7784,53728183,Transfer,2013-12-01,2013-12-03,CAR,SYNCOPE AND CHEST PAIN,2013-12-03,M,1959-06-13,NaT,B,54.0
7785,53728183,Discharge,2013-12-01,2013-12-03,CAR,SYNCOPE AND CHEST PAIN,2013-12-03,M,1959-06-13,NaT,B,54.0
7786,53728183,Admit,2014-03-22,2014-03-22,GMD,RULE OUT ACS,2014-03-23,M,1959-06-13,NaT,B,55.0
7787,53728183,Transfer,2014-03-22,2014-03-22,GMD,RULE OUT ACS,2014-03-23,M,1959-06-13,NaT,B,55.0
7788,53728183,Transfer,2014-03-22,2014-03-22,CAR,RULE OUT ACS,2014-03-23,M,1959-06-13,NaT,B,55.0
7789,53728183,Transfer,2014-03-22,2014-03-23,CAR,RULE OUT ACS,2014-03-23,M,1959-06-13,NaT,B,55.0
7790,53728183,Discharge,2014-03-22,2014-03-23,CAR,RULE OUT ACS,2014-03-23,M,1959-06-13,NaT,B,55.0
7791,53728183,Admit,2014-09-18,2014-09-18,CAR,CP,2014-09-19,M,1959-06-13,NaT,B,55.0
7792,53728183,Transfer,2014-09-18,2014-09-17,CAR,CP,2014-09-19,M,1959-06-13,NaT,B,55.0
7793,53728183,Transfer,2014-09-18,2014-09-18,CAR,CP,2014-09-19,M,1959-06-13,NaT,B,55.0
7794,53728183,Transfer,2014-09-18,2014-09-19,CAR,CP,2014-09-19,M,1959-06-13,NaT,B,55.0
7795,53728183,Discharge,2014-09-18,2014-09-19,CAR,CP,2014-09-19,M,1959-06-13,NaT,B,55.0
7796,53728183,Admit,2014-10-07,2014-10-07,CAR,CP; RECENT PCI,2014-10-07,M,1959-06-13,NaT,B,55.0
7797,53728183,Discharge,2014-10-07,2014-10-07,CAR,CP; RECENT PCI,2014-10-07,M,1959-06-13,NaT,B,55.0
7798,53728183,Admit,2014-12-09,2014-12-09,CAR,CHEST PAIN,2014-12-10,M,1959-06-13,NaT,B,55.0
7799,53728183,Transfer,2014-12-09,2014-12-09,CAR,CHEST PAIN,2014-12-10,M,1959-06-13,NaT,B,55.0
7800,53728183,Transfer,2014-12-09,2014-12-10,CAR,CHEST PAIN,2014-12-10,M,1959-06-13,NaT,B,55.0
7801,53728183,Discharge,2014-12-09,2014-12-10,CAR,CHEST PAIN,2014-12-10,M,1959-06-13,NaT,B,55.0
7802,53728183,Transfer,NaT,2010-04-18,CAR,CHEST PAIN,NaT,M,1959-06-13,NaT,B,51.0
7803,53728183,Transfer,NaT,2010-04-19,CAR,CHEST PAIN,NaT,M,1959-06-13,NaT,B,51.0
7804,53728183,Transfer,NaT,2010-04-28,CAR,CP,NaT,M,1959-06-13,NaT,B,51.0
7805,53728183,Transfer,NaT,2010-05-01,CAR,CP,NaT,M,1959-06-13,NaT,B,52.0

In [190]:
cpt_hosp[(cpt_hosp.RUID == 53736410)].sort_values(by=['Event_date','CPT_Code'])

             RUID CPT_Code Event_date
3818971  53736410    99223 2005-10-09
3818982  53736410    99231 2005-10-10
3818983  53736410    99231 2005-10-11
3818984  53736410    99231 2005-10-12
3818985  53736410    99231 2005-10-13
3818986  53736410    99231 2005-10-14
3818987  53736410    99231 2005-10-15
3819002  53736410    99238 2005-10-16
3818970  53736410    99223 2007-07-29
3818978  53736410    99231 2007-07-30
3818979  53736410    99231 2007-07-31
3818980  53736410    99231 2007-08-01
3818981  53736410    99231 2007-08-02
3819001  53736410    99238 2007-08-03
3819023  53736410    99285 2008-03-05
3818967  53736410    99223 2008-03-06
3818996  53736410    99233 2008-03-07
3818992  53736410    99232 2008-03-08
3818993  53736410    99232 2008-03-09
3818998  53736410    99238 2008-03-10
3819024  53736410    99285 2008-04-01
3818994  53736410    99232 2008-04-02
3818999  53736410    99238 2008-04-03
3819025  53736410    99285 2008-05-04
3818969  53736410    99223 2008-06-29
3818975  53736410    99231 2008-06-30
3818976  53736410    99231 2008-07-01
3818977  53736410    99231 2008-07-02
3818968  53736410    99223 2009-05-11
3818973  53736410    99231 2009-05-12
3819020  53736410    99255 2009-05-12
3818974  53736410    99231 2009-05-13
3819000  53736410    99238 2009-05-14
3819026  53736410    99285 2009-08-26
3818964  53736410    99223 2010-01-20
3818995  53736410    99233 2010-01-21
3819018  53736410    99253 2010-01-21
3818988  53736410    99232 2010-01-22
3818997  53736410    99238 2010-01-23
3819021  53736410    99285 2010-01-25
3818965  53736410    99223 2010-01-26
3819022  53736410    99285 2011-02-12
3818963  53736410    99219 2011-02-13
3818962  53736410    99217 2011-02-14
3818966  53736410    99223 2012-02-03
3818989  53736410    99232 2012-02-04
3818990  53736410    99232 2012-02-05
3819019  53736410    99254 2012-02-05
3818972  53736410    99231 2012-02-06
3818991  53736410    99232 2012-02-06
3819003  53736410    99239 2012-02-07

In [179]:
adt[adt.DISCHARGE_DATE.isnull()]

,RUID,Event,Admission_date,Event_Date,SRV_CODE,CHIEF_COMPLAINT,DISCHARGE_DATE
39,50135361,Transfer,NaT,2009-05-24,GMD,DEHYDRATION W/WEAKNESS,NaT
40,50135361,Transfer,NaT,2009-07-11,GMD,PNEUMONIA,NaT
38,50135361,Transfer,NaT,2010-04-29,GMD,PYELONEPHRITIS,NaT
41,50135361,Transfer,NaT,2010-10-03,GER,FALL,NaT
42,50135361,Transfer,NaT,2011-10-17,CAR,CHEST PAIN; ELEVATED TROPONIN,NaT
99,50135369,Transfer,NaT,2009-07-07,GMD,CHEST AND ABDOMINAL PAIN,NaT
98,50135369,Transfer,NaT,2010-03-30,PUL,COPD ACUTE HIP PAIN,NaT
100,50135369,Transfer,NaT,2010-12-21,CAR,UNSTABLE ANGINA,NaT
224,50135437,Transfer,NaT,2010-06-11,GMD,WOUND INFECTION,NaT
411,50135624,Transfer,NaT,2008-02-08,CAR,HEART TRANSPLANT,NaT
412,50135624,Transfer,NaT,2011-12-09,GER,CELLULITIS,NaT
486,50135776,Transfer,NaT,2013-09-01,INF,PANCREATITIS; HIV,NaT
487,50135821,Transfer,NaT,2009-04-27,NEU,CRANIAL NERVE III PALSY,NaT
488,50135821,Transfer,NaT,2012-06-03,GMD,ORTHOPNEA,NaT
489,50135821,Transfer,NaT,2013-08-11,GER,CHEST PAIN,NaT
490,50135821,Transfer,NaT,2013-08-11,GMD,CHEST PAIN,NaT
545,50135887,Transfer,NaT,2012-09-24,GER,DIZZY,NaT
604,50135968,Transfer,NaT,2011-11-01,GER,AKI,NaT
603,50135968,Transfer,NaT,2012-05-30,GER,RULE OUT ANGINA,NaT
645,50136045,Transfer,NaT,2009-06-08,ORT,SPINAL STENOSIS OF LUMBAR REGION 724.02,NaT
646,50136045,Transfer,NaT,2011-11-05,GMD,HYPOGLYCEMIA. DIARRHEA,NaT
647,50136045,Transfer,NaT,2011-11-07,GER,HYPOGLYCEMIA. DIARRHEA,NaT
1006,50136998,Transfer,NaT,2006-01-08,NES,INTRACRANIAL STENOSIS; TIA'S,NaT
1263,50137963,Transfer,NaT,2013-01-06,NES,331.3 COMMUNICATING HYDROCEPHALUS,NaT
1404,50139109,Transfer,NaT,2007-09-12,GMD,ALTERED MENTAL STATUS,NaT
1403,50139109,Transfer,NaT,2009-06-18,GAS,AMS,NaT
1472,50139411,Transfer,NaT,2008-11-17,PED,CONSTIPATION,NaT
1518,50139482,Transfer,NaT,2006-12-14,BRN,BURNS TO FACE AND ARMS,NaT
1582,50139842,Transfer,NaT,2012-06-12,NEP,LOW POTASSIUM; BARTTER'S SYNDROME,NaT
1658,50140698,Transfer,NaT,2007-07-27,ORT,AMPUTATION,NaT
...,...,...,...,...,...,...,...
120147,53736317,Transfer,NaT,2007-02-11,NES,ET 333.1STAGE II,NaT
120148,53736317,Transfer,NaT,2007-10-14,NES,INFECTION DUE TO IMPLANT,NaT
120176,53736319,Transfer,NaT,2011-03-15,NEU,LEFT FACIAL DROOP; LEFT SIDED WEAKNESS,NaT
120181,53736320,Transfer,NaT,2010-08-31,PLS,HAND CA; ACUTE HAND INFECTION/CELLULITIS,NaT
120204,53736325,Transfer,NaT,2008-11-24,GNS,BOWEL OBSTRUCTION,NaT
120235,53736327,Transfer,NaT,2011-02-26,NEP,HEADACHE; HYPERKALEMIA,NaT
120318,53736331,Transfer,NaT,2012-04-21,OBS,28 WKS; NAUSEA/VOMITING,NaT
120370,53736335,Transfer,NaT,2007-02-04,NEU,CVA,NaT
120396,53736336,Transfer,NaT,2010-08-10,GNS,MALIGNANT NEO OF LIVER PRIMARY,NaT
120546,53736345,Transfer,NaT,2011-04-20,GMD,ATRIAL FIBRILLATION WITH RAPID RESPONSE; WEAKNESS,NaT
120604,53736349,Transfer,NaT,2013-08-22,GMD,ABDOMINAL PAIN; GASTROENTERITIS; R/O NSTEMI?,NaT
120674,53736358,Transfer,NaT,2008-04-16,OBS,26WKS/HIGH BP,NaT
120792,53736368,Transfer,NaT,2011-06-04,EMR,HYPOXIA,NaT
120793,53736368,Transfer,NaT,2011-06-04,PCA,HYPOXIA,NaT
120880,53736370,Transfer,NaT,2010-04-27,CAR,POSITIVE-ABNORMAN NUCLEAR STRESS TEST,NaT
120986,53736380,Transfer,NaT,2013-05-06,HEM,V59.02; ARRHYTHMIA,NaT
121162,53736389,Transfer,NaT,2009-03-01,BRN,BURN,NaT
121208,53736394,Transfer,NaT,2007-08-11,GMD,SYMPTOMATIC ANEMIA,NaT
121209,53736394,Transfer,NaT,2007-08-12,GER,SYMPTOMATIC ANEMIA,NaT
121210,53736394,Transfer,NaT,2008-11-04,HEM,ANEMIA,NaT
121320,53736408,Transfer,NaT,2009-12-09,PSY,296.00,NaT
121330,53736410,Transfer,NaT,2009-08-26,GMD,HYPOTENSION,NaT
121328,53736410,Transfer,NaT,2011-02-12,GMD,AMS,NaT
121329,53736410,Transfer,NaT,2011-02-12,GER,AMS,NaT
121430,53736417,Admit,2014-03-02,2014-03-02,HEP,ASCITES,NaT
121429,53736417,Transfer,2014-03-02,2014-03-02,HEP,ASCITES,NaT
121435,53736417,Admit,2014-04-14,2014-04-14,GAS,SIRS; ABD PAIN; N/V/D,NaT
121434,53736417,Transfer,2014-04-14,2014-04-14,HEP,SIRS; ABD PAIN; N/V/D,NaT
121436,53736417,Transfer,2014-04-14,2014-04-14,GAS,SIRS; ABD PAIN; N/V/D,NaT
121437,53736417,Transfer,2014-04-14,2014-04-15,HEP,SIRS; ABD PAIN; N/V/D,NaT

In [176]:
cpt_hosp[cpt_hosp.RUID == 53736417].sort_values(by=['Event_date','CPT_Code'])

             RUID CPT_Code Event_date
3823483  53736417    99282 2000-11-14
3823484  53736417    99283 2002-10-13
3823491  53736417    99284 2002-10-13
3823485  53736417    99283 2002-12-09
3823492  53736417    99284 2002-12-09
3823486  53736417    99284 2004-02-01
3823487  53736417    99284 2004-02-02
3823468  53736417    99223 2014-01-27
3823474  53736417    99233 2014-01-28
3823467  53736417    99222 2014-01-29
3823475  53736417    99233 2014-01-29
3823476  53736417    99233 2014-01-30
3823477  53736417    99233 2014-01-31
3823478  53736417    99233 2014-02-01
3823479  53736417    99233 2014-02-02
3823480  53736417    99238 2014-02-03
3823488  53736417    99284 2014-02-19
3823493  53736417    99285 2014-02-19
3823465  53736417    99218 2014-02-20
3823463  53736417    99217 2014-02-21
3823489  53736417    99284 2014-02-28
3823490  53736417    99284 2014-03-02
3823494  53736417    99285 2014-03-02
3823466  53736417    99218 2014-03-03
3823495  53736417    99285 2014-03-09
3823470  53736417    99232 2014-03-11
3823471  53736417    99232 2014-03-12
3823481  53736417    99238 2014-03-13
3823496  53736417    99285 2014-04-14
3823464  53736417    99217 2014-04-16
3823497  53736417    99285 2014-04-23
3823469  53736417    99223 2014-04-24
3823472  53736417    99232 2014-04-25
3823473  53736417    99232 2014-04-26
3823482  53736417    99238 2014-04-27

In [180]:
pd.date_range(start = "2014-04-26", end = "2014-10-30")

DatetimeIndex(['2014-04-26', '2014-04-27', '2014-04-28', '2014-04-29',
               '2014-04-30', '2014-05-01', '2014-05-02', '2014-05-03',
               '2014-05-04', '2014-05-05',
               ...
               '2014-10-21', '2014-10-22', '2014-10-23', '2014-10-24',
               '2014-10-25', '2014-10-26', '2014-10-27', '2014-10-28',
               '2014-10-29', '2014-10-30'],
              dtype='datetime64[ns]', length=188, freq='D')

In [ ]:
ex_cpt_codes = cpt_hosp[(cpt_hosp.RUID == 53736417) & (cpt_hosp.Event_date > "2014-04-14")]
ex_cpt_codes[ex_cpt_codes.CPT_Code.str.match("aqz")].shape

In [ ]:
# adt_cms_admits[didx].Readmit_time = [np.inf]*sum(didx)

# readmit_time = [(x - y)/datetime.timedelta(days=1) for x,y in zip(adt_cms_admits.Admission_date[1:],adt_cms_admits.DISCHARGE_DATE[:-1])]
# readmit_time.insert(0,np.inf)

# adt_cms_admits['Time_from_previous_discharge'] = readmit_time

# there's probably a way better and more pythonic way to do this :/

# adt_cms_admits['Time_to_readmit'] = 

# adt_cms_admits.Time_to_readmit[same_pt] = readmit_time

# for idx, row in adt_cms_admits.iterrows():
#     if (idx == 0):
#         pass
    
#     else:
#         row_above = adt_cms_admits.iloc[(idx-1)]
#         if row.RUID == row_above.RUID:
#             adt_cms_admits.Time_to_readmit.iloc[idx] = (row.Admission_date - row_above.DISCHARGE_DATE)/datetime.timedelta(days=1)
#         else:
#             passif ex_cpt_codes[ex_cpt_codes.CPT_Code.str.match(cpt_pat)].shape[0]:
    print("True")
else:
    print("False")

In [ ]:
adt_cms[(adt_cms.RUID == 50141473)]

In [ ]:
cpt_hosp[(cpt_hosp.RUID == 50141473) & (cpt_hosp.Event_date > "2015-06-25")]

In [ ]:
adt_cms[(adt_cms.RUID == 53736417) & (adt_cms.Admission_date == "2014-04-14")]